<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="grey lighten-3" role="navigation">
    <div class="nav-wrapper container"><a href="/" class="brand-logo brand-logo-small"><img src="http://localhost:3000/assets/digi_rev_logo.png"/></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="grey-text text-darken-2" href="/pages/about">About</a></li>
        <li><a class="grey-text text-darken-2" href="/pages/portfolio">Portfolio</a></li>
        <li><a class="grey-text text-darken-2" href="/pages/reflections">Reflections</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/pages/about">About</a></li>
        <li><a href="/pages/portfolio">Portfolio</a></li>
        <li><a href="/pages/reflections">Reflections</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h3 class="header center red-text text-lighten-2">About</h3>
      <div class="row center">
        <ul class="list">
            <li><a class="grey-text text-darken-1" href="/pages/jobs">Jobs</a></li>
            <li><a class="grey-text text-darken-1" href="/pages/contact">Contact</a></li>
            <li><a class="grey-text text-darken-3" href="/pages/team">Team</a></li>
        </ul>
      </div>
    </div>
  </div>


      <!--   Profile Card Section #1  -->
  <div class="container">
    <div class="section">
      <h5 class="header left grey-text text-darken-3">Market Development: Accelerating time to market and matching corporate partners with emerging technology leaders.</h5>

      <div class="row">
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://lorempixel.com/350/350/people">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Miha Miklavčič<i class="material-icons right">more_vert</i></span>
              <p><a href="#">LInkedin</a></p>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Miha Miklavčič<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://lorempixel.com/400/400/people">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Luka Turk<i class="material-icons right">more_vert</i></span>
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Luka Turk<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://lorempixel.com/400/400/people">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Bojan Mitić<i class="material-icons right">more_vert</i></span>
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Bojan Mitić<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
    </div>
</div>


    
      <!--   Icon Section #2  -->

    <div class="section">
      <h5 class="header left grey-text text-darken-3">Marketing: Building awareness, and offering guidance through all the brandbuilding events an entrepreneur faces.</h5>

      <div class="row">
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://lorempixel.com/350/350/people">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Miloš Simić<i class="material-icons right">more_vert</i></span>
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Miloš Simić<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://lorempixel.com/350/350/people">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Georgi Stefanov<i class="material-icons right">more_vert</i></span>
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Georgi Stefanov<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://lorempixel.com/350/350/people">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Dragan Đorđević<i class="material-icons right">more_vert</i></span>
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Dragan Đorđević<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
  </div>
</div>

           <!--   Icon Section #3  -->

<div class="section">
      <h5 class="header left grey-text text-darken-3">Marketing: Building awareness, and offering guidance through all the brandbuilding events an entrepreneur faces.</h5>

      <div class="row">
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://lorempixel.com/350/350/people">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Dušan Jevtić<i class="material-icons right">more_vert</i></span>
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Dušan Jevtič<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
   </div>
</div>
</div>
</div>


  <footer class="page-footer grey"> 
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="light white-text">Company Bio</h5>
          <p class="light grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="light white-text">Site Map</h5>
          <ul>
            <li><a class="light white-text" href="/pages/about">About</a></li>
            <li><a class="light white-text" href="/pages/portfolio">Portfolio</a></li>
            <li><a class="light white-text" href="/pages/reflections">Reflections</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="light white-text">Connect</h5>
          <ul>
            <li><a class="light white-text" href="/pages/contact">Contact</a></li>
            <li><a class="light white-text" href="/pages/terms_of_use">Terms of Use & Privacy</a></li>
            <li><a class="light white-text" href="#!">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="red-text text-lighten-3" href="http://materializecss.com">Digtal Revolution</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
